<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/inscriptionUser.style.css">
    <title>Document</title>
</head>
<body>
    <div class="containForm">
        <div class="title">
            <h2>Sign Up</h2>
            <p>Merci de remplir ce formulaire pour créer votre compte!</p>
        </div>
        <form action="">
            <div>
                <i class="fa-solid fa-user"></i>
                <input type="text" name="nom" placeholder="Nom">
            </div>
            <div>
                <i class="fa-solid fa-user"></i>
                <input type="text" name="email" placeholder="Prenom">
            </div>
            <div>
                <i class="fa-solid fa-paper-plane"></i>
                <input type="email" name="email" placeholder="Email">
            </div>
            <div>
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div>
                <i class="fa-solid fa-unlock-keyhole"></i>
                <input type="password" name="repeatePassword" placeholder="Repeat password">
            </div>
            <div>
                <input type="submit" class="submit" value="Sign Up">
            </div>
        </form>
    </div>

    <script src="https://kit.fontawesome.com/de7f057090.js" crossorigin="anonymous"></script>
</body>
</html>